{% extends 'base.html' %}

{% block title %} ABOUT {% endblock %}

{% block content %}

<div class="container" style="margin-left: 35%;">
    <h2>INFO</h2>
    <p>Image at the top (card-img-top):</p>
    <form action="/about", method="POST">
        <div class="card" style="width:400px; align-items: center;">
            <img class="card-img-top" src="./images/person.png" alt="Card image" style="width:100%">
            <div class="card-body">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" value="{{ uuser["email"] }}"> </input>
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ uuser["username"] }}"></input>
                </div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ uuser["name"] }}"></input>
                </div>
                <div class="form-group">
                    <label for="phone">Phone number:</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="{{ uuser["phone_number"] }}"></input>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>

</div>

{% endblock %}
