
<ul class="pagination justify-content-center mb-4">
    {% for page_num in comments.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if comments.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('post_bp.post_content', page=page_num, slug=post.slug) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('post_bp.post_content', page=page_num, slug=post.slug) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
                ...
        {% endif %}
    {% endfor %}
</ul>