{% extends 'base.html' %}

{% block title %} Techblog- {{ action.title() }} {% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='showdown.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simplemde.min.css') }}">
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <h5 class="card-title text-center">{{ action.upper() }}</h5>
            <form action="/createpost" method="POST">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
                </div>
                <div class="form-group">
                    <label for="brief">Brief:</label>
                    <input type="text" class="form-control" id="brief" placeholder="Enter brief" name="brief">
                </div>
                <div class="form-group">
                    <label for="tags">Tags:</label>
                    <input type="text" class="form-control" id="tag" placeholder="python,flask" name="tags">
                </div>
                <div class="form-group">
                    <label for="body">Body</label>
                    <div id="editor" style="z-index: 1000000000;">
                        <textarea name="body" class="form-control" id="postbody"></textarea>
                    </div>
                </div>
            
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        var converter = new showdown.Converter();
        var simplemde = new SimpleMDE({
            element: document.getElementById("postbody"),
            placeholder: "Type here...",
            promptURLs: true,
            parsingConfig: {
                allowAtxHeaderWithoutSpace: true,
                strikethrough: false,
                underscoresBreakWords: true,
            },
            previewRender: function (plainText) {
                return converter.makeHtml(plainText); // Returns HTML from a custom parser
            },
            previewRender: function (plainText, preview) { // Async method
                setTimeout(function () {
                    preview.innerHTML = converter.makeHtml(plainText);
                }, 250);
                return "Loading...";
            },
            spellChecker: false,
            insertTexts: {
                horizontalRule: ["", "\n\n-----\n\n"],
                table: ["", "\n\n| Column 1 | Column 2 | Column 3 |\n| -------- | -------- | -------- |\n| Text     | Text      | Text     |\n\n"],
            },
        });
    </script>
{% endblock %}
