{% extends 'base.html' %}

{% block title %}Techblog - {{ post.title }}{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='js/beautiful.alert.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}" />
{% endblock %}
{% block content %}
  <script>
    function share_fb(url) {
  window.open('https://www.facebook.com/sharer/sharer.php?u='+url,'facebook-share-dialog',"width=626, height=436")
}
  </script>
<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

      <!-- Title -->

      <h1 class="mt-4">{{ post.title }}</h1>

      <!-- Author -->
      <p class="lead">
        by
        <a href="#">{{ post.user.username }}</a>
      </p>

      <hr>
      <!-- Date/Time -->
      <p>Posted on {{ format_date(post.created_at) }}</p>

      <hr>
      <!-- Preview Image -->
      <!-- <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""> -->
      <hr>

      <!-- Post Content -->
      <div id="post-content" class="mb-4">
        {{ post.content }}
      </div>

      <div class="post-sharing">
        <ul class="list-inline">
          <li><a href="#" class="fb-button btn btn-primary" onclick="share_fb('http://localhost/posts/{{ post.slug }}');return false;" rel="nofollow" share_url="http://localhost/posts/{{ post.slug }}" target="_blank"><i class="fa fa-facebook"> </i> <span
                class="down-mobile">Share on Facebook</span></a></li>
          <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span
                class="down-mobile">Tweet on Twitter</span></a></li>
        </ul>
      </div><!-- end post-sharing -->

      <hr>
      {% include 'post/vote.html' %}
      <hr>

      <!-- % include 'post/comments.html' % -->
      {% include 'post/comments-form.html' %}
      <!-- % include 'post/comments-list.html' % -->
    </div>

    <!-- Sidebar Widgets Column -->
    {% include 'sidebar/sidebar.html' %}
    <script type="text/javascript">
      window.onload = function(){
        loadComments();
        loadvote();
        loadtag();
        popular();
      }
    </script>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/comment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
{% endblock %}