{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='js/beautiful.alert.min.js') }}"></script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row" id="profile-box">
        <div class="col-md-4" id="avatar-form">
                <div class="row">
                    <img class="card-img-top" id="avatar" src="{{ uuser["avatar_url"] or url_for('static', filename='images/person.png') }}" alt="Card image">
                </div>
                <div class="row mt-4">
                    <input id="file-input" type=file name=file class="mb-4" accept="image/*">
                    <button onclick="upload_file();" class="btn btn-primary">Update avatar</button>
                </div>
        </div>
        <div class="col-md-8" id="information-form">
            <form action="/profile", method="POST">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" value="{{ uuser["email"] }}">
                        </div>
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" value="{{ uuser["username"] }}">
                        </div>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{ uuser["name"] }}">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone number:</label>
                            <input type="text" class="form-control" id="phone" name="phone" value="{{ uuser["phone_number"] }}">
                        </div>
                        <button type="submit" onclick="info_update();" class="btn btn-primary">Update Information</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{%endblock %}
