<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <div class="sidebar">
        <!-- Search Widget -->
        <div class="widget my-4">
            <div class="widget-body">
                <div class="input-group">
                    <form action="/search" method="GET">
                        <input type="text" class="form-control" id="search" name="q"
                            style="display: inline-block;width: 70%; height: 100%;" placeholder="python">
                        <span class="input-group-append" style="display: inline-block;width:25%;">
                            <button class="btn btn-secondary" type="submit">Search</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>

        <!-- Tags Widget -->
        <div class="widget my-4">
            <h5 class="widget-header">Tags</h5>
            <div class="widget-body">
                <div class="row">
                    <div class="col-lg-12">
                        <ul id='list-tags' class="list-unstyled mb-0">
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Popular -->
        <div class="widget my-4">
            <div class="sidebar">
                <div class="widget">
                    <h2 class="widget-title">Popular Posts</h2>
                    <div class="blog-list-widget">
                        <div id="popular" class="list-group">

                        </div>
                    </div><!-- end blog-list -->
                </div>
            </div>
        </div>
    </div>
</div>
    
<script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>